---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Perfil from '../components/perfil.astro'
---

<DefaultLayout title="Inicio">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:web" title="Pagina Web Simple">
          Impulsá tu presencia en línea con una página web que refleje la esencia de tu marca, cautivando a tus
          visitantes con un diseño atractivo y contenido convincente para dejar tu huella en la web.
        </Feature>
        <Feature icon="mdi:store" title="Tienda Online">
          Llevá tu negocio al mundo digital con una tienda en línea que brinda a tus clientes una experiencia de compra
          conveniente y segura, permitiéndote ampliar tu alcance y aumentar tus ventas.
        </Feature>
        <Feature icon="mdi:design" title="Logo & Identidad">
          Le damos forma a la identidad de tu negocio con logos que transmiten profesionalismo y dejan una huella
          imborrable en tus clientes. Tu esencia, plasmada en cada diseño.
        </Feature>
        <Feature icon="mdi:search" title="SEO">
          Aumentá tu visibilidad en los motores de búsqueda y localiza a tu audiencia objetivo al mejorar tu
          posicionamiento en línea a través de estrategias de SEO y al optimizar tu perfil en Google Mi Negocio.
        </Feature>
        <Feature icon="mdi:paper" title="Sitio de noticias">
          Creamos la plataforma, tú controlas el contenido. Te brindamos la estructura perfecta: desde titulares
          impactantes hasta una navegación fluida. Tu fuente de información se merece un sitio web que refleje su
          importancia y te brindamos las herramientas para que lo manejes con facilidad.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>


