---

---

<div class="w-full max-w-sm rounded-lg border-gray-200">
  <div class="flex justify-end px-4 pt-4">
    <!-- Dropdown menu -->
  </div>
  <div class="flex flex-col items-center pb-10">
    <img class="w-30 mb-3 h-48 rounded-full shadow-lg" src="/src/assets/img/yo-1-1.jpeg" alt="Nicolas" />
    <h5 class="mb-1 text-xl font-bold subtitulos">Nicolás Pimienta</h5>
    <span class="text-sm subtitulos">Desarrollador</span>
    
  </div>
</div>


<style>
  
  .subtitulos{
    color: #94a1b2;
  }

</style>